body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

ul {
  list-style-type: none;
  margin: -10px -10px -.5px -10px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.active {
  background-color: black;
}

.container {
   min-height:100%;
   position:relative;
}

.body {
   padding-bottom:60px;   /* Height of the footer */
}
.p {
    font-family: "Big Calson";
}

.h3 {
    font-family: "Big Calson";
}

.button {
    font-family: "Big Calson";
}

.html, .body
{
		height: 100%;
		width: 100%;
}
.body {
    min-width: 960px;
    min-height: 960px;
		position:relative;

}
div.gallery {
    margin: 11.5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    height: 600px;
    align: middle;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
.wrapper {
    width:960px;
		min-height: 100%;
    margin: auto;
		margin-bottom: -142px;
}

.wrapper:after {
  content: "";
  display: block;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  /*opacity: 0.65;*/
  background-position: center;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("img/forget.jpg");
  width: 100%;
}
